.cards{
    box-sizing: border-box;
    width: 200px;
    float: left;
    background-image: url(../card200264.jpg);
    text-align: center;
    margin: 0px 0px 15px;
    cursor: pointer;
    height: 264px;
    font-size: 60px;
    padding-top: 80px;

}
.app-container{
	margin: 10px;
    padding: 25px;
    background: #000000;
    height: 100%;
}
html{
    background-color: black;
}


.container {
    position: relative;
    top: 50px;
    background-color: black;
}

.container-fluid{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #9b4e6e;
    z-index: 100;
    color: #5c3a1e;
    font-size: 25px;
    padding-top: 5px;
    text-align: center;
}